$color-of-body: #9bffe2;
$main-container-color: #15324f;
$main-font-color: white;
$hover-color: #c3cee2;
$button-color: #42f477;
$button-color-hover: #04ce41;
$error-color: red;
$common-font: Raleway, Arial, sans-serif;
$big-font: 25px;
$screen-sm-min: 475px;